/* Sidebar.css */
.sidebar {
    width: 115px;
    background-color: #023044;
    color: white;
    padding: 20px;
    transition: width 0.3s ease;
  }
  
  .sidebar.collapsed {
    width: 30px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  li svg {
    margin-right: 10px;
  }
  
  li:hover {
    color: #00eeff;
  }
  
  li a {
    color: inherit;
    text-decoration: none;
  }