/* SmtpForm.js */
.smtp-form-container {
    width: 80%;
    border: 1px solid #ddd;
    padding: 0px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-left: center;
    box-sizing: border-box;
  }

  .smtp-form-container form {
    margin-top: 10px;
  }

  .title-container {
    border-bottom: 1px solid #ddd;
    margin-top: 0px;
  }
  
  .title-container h4 {
    margin: 10px;
  }

  .form-container {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 10px;
  }

  .form-container p {
    color: grey;
    font-size: 12px;
  }

  .smtp-form-container button[type="submit"] {
    background-color: rgb(4, 173, 4);
    color: white;
    border: none;
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.large-input {
  width: 300px;
}

.large-input-ex {
  width: 320px;
}

.large-input-ex-se {
  width: 310px;
}

.form-row button {
  width: 130px;
  height: 30px;
}

.oauth-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.auth-button {
  width: 210px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.auth-icon {
  margin-right: 8px;
  font-size: 18px;
}